.quickLinkTitle {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color:red;

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.quickBusinessLinks {


   figure {

     figcaption {
       text-align: center;
     }
   }
}
