.quickLinkTitle {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color:red;

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.quickBusinessLinks {
  display:flex;
  width:60%;
  margin: auto;
  justify-content: space-between;

  a {
     span{
       figcaption {
         text-align: center;
         color:black;
         font-weight: bold;
         padding: 10px;
       }
     }
   }


   a:hover {
     box-shadow:3px 3px 8px #888888;
     span {
       figcaption {
        color:#1647a1;
       }
     }
   }



}
