.frontPageNav {
  background-image: asset_url("front_page.jpg");
  background-position: center;
  background-size: cover;
  height:600px;

  

  h2 {
    font-size: 20px;
    display: inline-block;
  }
}
