.frontPageNav {
  background-image: asset_url("front_page.jpg");
  background-position: center;
  background-size: cover;
  height:600px;

  .navBar {
    display: flex;
    width:60%;
    margin: auto;

      h2 {
        font-size: 15px;
        color:white;
        font-weight: bold;
        margin-top:40px;
        margin-right: 10px;
      }

    .signUp {
      border: 1px solid white;
      color:white;
      padding:5px;
    }

    .signUp:hover {
      background:white;
      color:gray;
    }

    .sessionLinks  {
      display: flex;

      a {
        color:white;
      }

      a:hover {
        border-bottom: 1px solid white;
      }
    }

    .allLinks {
      display: flex;

      h2:hover {
        cursor: pointer;
        border-bottom: 1px solid white;
      }

    }

    justify-content: space-between;
  }

  .logoImage {
      img {
        display: block;
        margin: 50px auto;
      }
  }

  .searchBar {
      display: flex;
      justify-content: center;
      position:relative;

    input {
      width:500px;
      height: 40px;
      text-indent: 50px;

    }

    .catergory {
      position: absolute;
      margin-top: 15px;
      margin-left:5px;
      font-weight: bold;
      color:gray;

    }

    button {
      background-color: rgb(204, 0, 0);
      height: 45px;
      width: 45px;
      img {
          height:20px;
          width:20px;
      }
    }
  }

  .quickLinks {
    margin-top: 10px;
    display:flex;
    justify-content: center;

    a {
      color: white;
      text-decoration: none;
      margin-right: 20px;

      img {
        height:15px;
        width:20px;
      }
    }

    a:hover {
      text-decoration: underline;
    }

  }
}


.splashPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
