.mapPhotoContainer {
  display:flex;
  margin-top: 10px;
  .googleMap {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    max-width: 300px;
    width:100%;

    .map {
      margin-top: 20px;
      width:100%;
      height:200px;
    }

    .caption {
      padding: 10px;
      border-top: 1px solid #ccc;
      margin-top: 30px;
      font-weight: bold;
      font-size:15px;
      a {
          text-decoration: underline;
          color:blue;
          cursor: pointer;
      }
    }
  }
}

.mapRes {
  // position:absolute;
  // right: 120px;
  // width:30%;
  height:200px;
  float:left;
  .map {
    height:300px;
    width:300px;
  }
}
