.businessMapPhotoContainer {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  width:100%;
  margin-top:25px;
  position: relative;

  .viewBusinessPhotos {
    position: absolute;
    right:400px;
    bottom: 60px;
  }
}

.businessInformation {
  margin: 30px auto;
  width:930px;


  h1 {
    font-size: 50px;
  }
}

.businessShow {
  display: flex;
  flex-direction: column;

}

.businessInfo {
  .businessShowContainer {
    display: flex;

    .businessTitleHeader {
      width:50%;
      .businessInfoStars {
        margin-top: 5px;
      }
      .priceKeywordContainer {
        margin-top:5px;
      }
    }

    .quickBusinessLinks {
      width:50%;
      display:flex;

      .socialMediaLinks {
        margin:auto;
        float:right;
        button {
          width:100px;
          height:35px;
          background-color: white;
          border: 1px solid rgb(205, 206, 216);

          img {
            width:15px;
            height:15px;
          }


        }
      }
      .reviewButton {
        background-color: #bd1f1f;

        height:40px;
        width:130px;
        font-size:13px;
        border-radius: 5px;
        a {
          color:white;
          text-decoration: none;
        }
      }



      .quickLinkStar {
        color:white;
        margin-right: 3px;
      }


    }
  }
}


.currentRating {
  background-image: asset_url('ratings.png');
}

.priceKeywordContainer {
  display: flex;
}
