.reviewAndSideBarContainer {
  display: flex;
  width:930px;
  margin:auto;
}

.reviewContainer {
  width:70%;
  margin: 15px;

  .startReviewContainer {
    display:flex;
    .currentUserReviewContainer {
      min-width:20%;
      margin-top:20px;
      text-align: center;
    }
    .startReviewBox {
      width:80%;
      display:block;

      .linkToStartReview {
        text-align: center;
        padding:20px;
        min-height: 60px;
          border-radius: 5px;
          background: #f5f5f5;
      border: 1px solid #e6e6e6;
        .linkReview {
          width:100%;
          border-top: 1px solid gray;
          margin-top: 10px;
        }
        .giveStars {
          background-image: asset_url('ratings.png');
          background-position: 0px 0px;
          width: 129px;
          height: 22px;

          margin: auto;
          margin-bottom: 10px;

        }
          a {
            color:blue;

        }
      }
    }
  }


  .reviewItemContainer {
    display: flex;
    margin-top: 20px;
    padding:20px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    .reviewAuthor {
      width:20%;
    }

    .reviewRatingBodyContainer {
      display: flex;
      flex-direction: column;
      .reviewItemBody {
        margin-top: 20px;
      }
    }
  }

}


.ReviewForm {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  form {
    display:flex;
    flex-direction: column;
  }
  .reviewBody {
      width:500px;
      height:300px;
      resize:none;
      border: 1px solid rgb(220, 220, 220);
  }

  button {
    margin-top: 25px;
    background-color: #d90007;

    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    width:180px;
    height: 48px;

     a {
       color:white;
     }
  }
}


.blankStar {
  background-image: asset_url('ratings.png');
  background-position: -106px 0px;
  width: 25px;
  height: 23px;
}

.reviewStars1 {
  background-image: asset_url('ratings.png');
  background-position: 0px -24px;
  width: 22px;
  height: 23px;
}
.reviewStars2 {
  background-image: asset_url('ratings.png');
  background-position: 0px -72px;
  width: 22px;
  height: 23px;
}
.reviewStars3 {
  background-image: asset_url('ratings.png');
  background-position: -1px -120px;
  width: 22px;
  height: 23px;
}

.reviewStars4 {
  background-image: asset_url('ratings.png');
  background-position: -1px -168px;
  width: 22px;
  height: 23px;
}

.reviewStars5 {
  background-image: asset_url('ratings.png');
  background-position: -1px -217px;
  width: 24px;
  height: 22px;
}

.userSelectedStar {
  display: flex;
}
